//色関連を変数で取り扱う
$default_font_color: #333;

*{
	margin:0px;
    padding:0px;
}
/* ブラウザの高さをブロックに適用させる */
html,body{
    height: 100%;
}
li{
	list-style-type: none;
	list-style-position: outside;
}
img{
	vertical-align: middle;
	max-width: 100%;
}
a{
    text-decoration:none;
    display: block;
}
body{
	font-size: 0.8em;
    background-color: #fffff9;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: $default_font_color;
    /* p{
        font-size: 1rem;
    } */
}

//そもそもの画像表示設定
img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
#wrapper{
    width:100%;
    //height: 100%;
    margin:0 auto;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

//header
header{
    //background-color: #67C7D4;
    background-color: #FFFFFF;
    border-top: solid 3px #678086;
    height: 70px;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;

    //課題2の仕様で追加された部分
    .add_line{
        width: fit-content;
        height: 70px;
        margin-right: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .imgBox{
            height: 70px;
            line-height: 70px;
        }
        .welcome{
            width: fit-content;
            height: 30px;
            font-size: 14px;
            line-height: 30px;
            //margin-right: 20px;
            padding: 0 30px;
            border-right: currentColor solid 1px;
            margin: 20px 30px 20px 0;
        }
        .logout_btn{
            width: fit-content;
            height: 70px;
            right: 0;
            button{
                line-height: 30px;
                margin: 20px 0;
                font-size: 14px;
                background: 
                linear-gradient(currentColor 0 0) 
                bottom /var(--d, 0) 2px 
                no-repeat;
                transition:0.5s;
            }
            button:hover {
                --d: 100%;
            }
        }
    }
}
h1{
    color: $default_font_color;
    letter-spacing: 10px;
    line-height: 70px;
    margin-left: 30px;
    width: fit-content;
}

/* //画像サイズ整えます
.img_wrap {
    box-sizing: border-box;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: #fff;
    z-index: 100;
    img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    }
} */

//ダサいボタンタグを一旦リセット
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

//登録画面&基本設定のCSS
//main
main{
    height: 100%;
    width: 700px;
    margin: 0 auto;
    padding-top: 100px;
    box-sizing: border-box;
    flex: 1;

    .form_wrap{
        height: 100%;
        width: 500px;
        margin: 30px auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 50px;
        box-sizing: border-box;
        border-radius: 20px;
        box-shadow: 5px 5px 10px rgb(173, 173, 173), -2px -2px 4px #FFF;

        //入力フォームのレイアウト
        form {
            box-sizing: border-box;
            width: 100%;
            margin: 0 auto;

            //イントロ文章
            ._intro{
                width: 100%;
                height: 130px;
                margin-bottom: 24px;

                h2{
                    margin: 0 auto;
                    margin-bottom: 20px;
                    text-align: center;
                    height: 65px;
                    line-height: 80px;
                    font-size: 28px;
                    letter-spacing: 1px;
                    width: fit-content;
                    background: linear-gradient(transparent 70%, #c1e0ff 70%);
                    font-weight: bold;
                }
                p{
                    text-align: center;
                    font-size: 15px;
                }
                .err,.err_msg{
                    color: tomato;
                }
            }
            //input枠の中身
            .input_wrap{
                box-sizing: border-box;
                width: 400px;
                height: 70px;
                margin: 0 auto 30px;
                .input_set{
                    height: 70px;
                    margin-bottom: 10px;
                    input{
                        box-sizing: border-box;
                        width: 400px;
                        height: 54px;
                        border: none;
                        border-radius: 20px;
                        margin: 0 auto;
                        border: solid #c1e0ff 1px;
                        padding: 5px 20px;
                        font-size: 18px;
                    }
                    .noBorder{  //本登録の入力画面用
                        border: none;
                        height: 54px;
                        line-height: 54px;
                    }
                    p{
                        color: tomato;
                    }
                    .namae{ //本登録の入力画面用
                        color: $default_font_color;
                        font-size: 1rem;
                        height: 54px;
                        line-height: 54px;
                    }
                }
            }
            //form内のボタン
            .btn_wrap{
                text-align: center;
                button{
                    box-sizing: border-box;
                    width: 400px;
                    height: 54px;
                    margin: 30px 0 50px;
                    border-radius: 20px;
                    background-color: #2E316D;
                    color: white;
                    font-size: 16px;
                    font-family: 'M PLUS Rounded 1c', sans-serif;  
                }
                button:hover{
                    opacity: 0.7;
                    transition: 0.4s;
                }
                .back{  //確認画面の戻るボタン装飾
                    background-color: #999;
                    margin: 0;
                }
            }
            //登録画面にあるログインへのリンク
            .already{
                display: flex;
                justify-content: space-between;
                p:nth-of-type(1){
                    color: #626063;
                    
                }
                p:nth-of-type(2){
                    margin-right: 50px;
                    a{
                        color: #2E316D;
                    }
                }
            }
            //ログイン画面にある登録画面へのリンクらへん
            h4 {
                color: #9fa09e;
                display: flex;
                align-items: center;
                margin-left: 0;
                margin-right: 0;
                width: 400px;
            }
            h4:before,
            h4:after {
                border-top: 1px solid;
                content: "";
                flex-grow: 1;
            }
            h4:before {
                margin-right: 1rem;
            }
            h4:after {
                margin-left: 1rem;
            }
            .link{
                background-color: #c1e0ff;
                margin-top: 20px;
                height: 40px;
                line-height: 40px;
                margin-bottom: 10px;
                width: 400px;
                text-align: center;
                //border: 1px solid #9fa09e;
                opacity: 0.6;
                border-radius: 5px;
                a{
                    color: #39383a;
                }
            }
            .link:hover{
                background-color: #c1e0ff;
                transition: 0.7s;
            }
            .check_msg{
                text-align: center;
                font-size: 1rem;
            }
        }
    }
    //===== 登録完了画面のセンタリング
    .center{
        width: 500px;
        margin: 60px auto 0;
        h2{
            margin: 0 auto;
            margin-bottom: 20px;
            text-align: center;
            height: 65px;
            line-height: 80px;
            font-size: 28px;
            letter-spacing: 1px;
            width: fit-content;
            background: linear-gradient(transparent 70%, #c1e0ff 70%);
            font-weight: bold; 
        }
        p{
            text-align: center;
            font-size: 1rem;
            a{
                color: #67C7D4;
            }
        }
        .under_hover{
            margin: 30px auto 0;
            width: fit-content;
            background: 
                linear-gradient(#67C7D4 0 0) 
                bottom /var(--d, 20%) 2px 
                no-repeat;
            transition:0.5s;
        }
        .under_hover:hover {
            --d: 80%;
        }
        .mailContent{
            height: 100%;
            width: 500px;
            margin: 30px auto 0;
            padding: 30px 30px;
            box-sizing: border-box;
            border-radius: 20px;
            box-shadow: 5px 5px 10px rgb(173, 173, 173), -2px -2px 4px #FFF;
            p{
                font-size: 1rem;
                text-align: left;
                margin-bottom: 10px;
                a{
                    word-break: break-all;
                    font-size: 1rem;
                    text-decoration: underline;
                }
            }
        }
    }
}
//===== 会員専用ページ
.main_list{
    width: 960px;
    height: 100%;
    box-sizing: border-box;
    
    //リスト画面
    h2{
        margin-bottom: 30px;
        text-align: center;
        margin: 0 auto;
        height: 65px;
        line-height: 80px;
        font-size: 28px;
        letter-spacing: 4.5px;
        width: fit-content;
        background: linear-gradient(transparent 70%, #c1e0ff 70%);
        font-weight: bold;
    }

    //テーブルの場所確保&テーブル本体
    .table_wrap{
        width: 720px;
        margin: 0 auto;
        margin-top: 60px;
        box-shadow: 5px 5px 10px rgb(173, 173, 173), -2px -2px 4px #FFF;
        box-sizing: border-box;
        background-color: #fff;
        .img_wrap{
            padding: 50px;
            background-color: #F7F3EC;
            position: relative;
            p{
                position: absolute;
                top: 20px;
                left: 30px;
                font-size: 44px;
                font-family: serif;
            }
            img{
                width: 660px;
                height: 350px;
                object-fit:cover;

            }
        }
        //レコード（列）
        a{
            color: $default_font_color;
            .items{
                height: 152px;
                padding: 16px 30px;
                border-bottom: 1px solid #D3D6D9;
                display: flex;
                justify-content: space-around;
                align-items: center;
                img{
                    width: 120px;
                    height: 120px;
                    object-fit:cover;
                }
                .news_detail{
                    width: 520px;
                    height: 80px;
                    padding-left: 20px;
                }
                .news_detail > p{
                    font-size: 1rem;
                }
                .pdf_link{
                    height: 52px;
                    line-height: 52px;
                }
                .news_detail > .time{
                    text-align: right;
                    margin-top: 12px;
                    color: #7A7A7A;
                }
                .news_detail:last-child {
                    border-bottom: none;
                }
            }
            .items:hover{
                transition: 0.3s;
                -webkit-transform: translateY(-1.2px);
                -ms-transform: translateY(-1.2px);
                transform: translateY(-1.2px);
                top:-3px;
                box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
            }
        }
        
    }
    //===== リンク部分 =====
    .pre-next{
        display: flex;
        text-align: center;
        justify-content: space-between;
        a{
            //display: block;
            font-size: 18px;
            margin: 20px 40px;
        }
    }
    .pageNation{
        width: 960px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        span{
            display: none;
        }
        .on:nth-of-type(1){
            display: inline-block;
            position: absolute;
            top: 35%;
            left: 27%;
        }
        .on:nth-of-type(2){
            display: inline-block;
            position: absolute;
            top: 35%;
            right: 28%;
        }
        a{
            display: block;
            text-align: center;
            width: 80px;
            height: 60px;
            line-height: 60px;
            font-size: 1rem;
        }
        .nomal{
            color: #6495ED;
        }
        .active{
            pointer-events: none; /* 押してもリンクさせない */
            text-decoration: none; /* 下線を無効化 */
            color: #aca9a9;
        }
        .none{
            display: none;
        }
    }
    .nomal{
        color: #6495ED;
    }
    .active{
        pointer-events: none; /* 押してもリンクさせない */
        text-decoration: none; /* 下線を無効化 */
        color: #818080;
    }
}

//======　フッター　======
footer{
    //background-color: #333333;
    width: 100%;
    text-align: center;
    height: 70px;
    //position: absolute;
    bottom: 0;
}

footer p{
    height: 70px;
    line-height: 70px;
    align-items: center;
    color: #626063;
}
